on:
  push:
name: Release

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
#       - name: Checkout code
#         uses: actions/checkout@v2
      - name: Format the date of next Tuesday
        id: tuesday
        run: echo "release_date=$(date '+tuesday%y%m%d')" >> $GITHUB_ENV
        
      - name: Read exported variable
        run: |
          echo "$release_date"
          echo "${{ env.release_date }}"
          
      - name: Get current date
        id: date	 
        run: |
          echo "release_date=1" >> GITHUB_ENV
          echo "cat $GITHUB_ENV" 
      - name: Test with environment variables
        run: |
          echo "${{ env.release_date }}"
          echo "$release_date"
          echo "cat $GITHUB_ENV"  
#       - name: Set up Python
#         uses: actions/setup-python@v1
#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install platformio
#       - name: Run PlatformIO
#         run: platformio run
#       - name: Create Release
#         id: create_release
#         uses: actions/create-release@v1
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         with:
#           tag_name: ${{ env.now }}
#           release_name: Release ${{ env.now }}
#           body: |
#             Changes in this Release
#             - First Change
#             - Second Change
#           draft: false
#           prerelease: false
#       - name: Upload the artifacts
#         uses: skx/github-action-publish-binaries@master
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#         with:
#           args: '.pio/build/esp12e/firmware.bin'  
#           releaseId: ${{ steps.create_release.outputs.id }}
