on:
  push:
name: Release

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date	 
        run: echo "release_date=$(date +'%Y%m%d.%H%M')" >> $GITHUB_ENV
      - name: Test with environment variables
        run: |
          echo "${{ env.release_date }}"
          echo "$release_date"
          echo $TAG_NAME - $RELEASE_NAME
        env:
          TAG_NAME: nightly-tag-${{ env.release_date }}
          RELEASE_NAME: nightly-release-${{ env.release_date }}
      - name: Checkout code
        uses: actions/checkout@v2  
      - name: Set up Python
        uses: actions/setup-python@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
      - name: Run PlatformIO
        run: platformio run
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.release_date }}
          release_name: Release ${{ env.release_date }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: false
          prerelease: false
      - name: Upload the artifacts
        uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: '.pio/build/node32s*/firmware.bin'  
          releaseId: ${{ steps.create_release.outputs.id }}
